<!doctype html>
<html>
<head>
    <title>This is the title of the webpage!</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.2"></script>
</head>
<body>

<div id="app">
    <div>
        <button v-on:click="panel='main'">main</button>
        <button v-on:click="panel='player'">player</button>
        <button v-on:click="panel='gamelist'">gamelist</button>
        <button v-on:click="panel='game'" v-bind:disabled="!active_game.id">game</button>
        <button v-on:click="panel='other'">other</button>
    </div>
    <div id="main" v-if="panel == 'main'">
        main
    </div>
    <div id="player" v-else-if="panel == 'player'">
        <h1>
            Player
        </h1>
        <hr/>
        <input type=text v-model="player.name"/>
        <div>
            {{ player.name }}
        </div>
        <div v-if="player.game">
            In game: {{ player.game }}
        </div>
        <button v-on:click="player_submit()">Submit</button>
    </div>
    <div id="gamelist" v-else-if="panel == 'gamelist'">
        List of games:
        <ol>
            <li v-for="game in gamelist">
                <button v-on:click="joinGame(game)">
                    {{ game.id }}
                </button>
                ({{ game.players.length }} players)
            </li>
        </ol>
        <button v-on:click="create_game">New Game</button>
        <button v-on:click="refresh_gamelist">Refresh</button>
    </div>
    <div id="game" v-else-if="panel == 'game'">
        <h1>Game {{ active_game.id }}</h1>
        <div>
            <ol>
            <li v-for="p in active_game.players">
                <span v-bind:class="player_classes(p)">{{ p.name }}</span>
                <span v-if="p.id == active_game.admin">admin</span>
            </li>
        </ol>
        </div>
        <div id="vote">
            <div>{{ Object.keys(active_game.vote).length }} voted</div>
            <button v-on:click="vote(true)">Vote Positive</button>
            <button v-on:click="vote(false)">Vote Negative</button>
            <button v-on:click="delete_vote">Delete Vote</button>
            <br/>
            <button v-on:click="reveal_vote">Reveal</button>

        </div>

        <div id="vote_log">
            <div v-for="vote in active_game.vote_log">
                <span v-for="pid in Object.keys(vote)">
                    {{ active_game.playermap[pid].name }}
                </span>
                {{ vote_result(vote) }}
            </div>
        </div>
        <button v-on:click="leave_active_game">Leave</button>
        <button v-on:click="update_active_game">Refresh</button>
        <button v-on:click="clear_voting">Refresh</button>
<!--        <button v-on:click="start_active_game" v-bind:disabled="!active_game.can_start_game">Start game</button>-->
    </div>
    <div id="other" v-else-if="console.log(this) && true">
        other
    </div>

</div>

<script src="/static/script.js"></script>

</body>
</html>