<!doctype html>
<html>
<head>
    <title>This is the title of the webpage!</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.2"></script>
</head>
<body>

<div id="app">
    <div>
        <button v-on:click="panel='main'">main</button>
        <button v-on:click="panel='player'">player</button>
        <button v-on:click="panel='gamelist'">gamelist</button>
        <button v-on:click="panel='game'" v-bind:disabled="!active_game.id">game</button>
        <button v-on:click="panel='other'">other</button>
    </div>
    <div id="main" v-if="panel == 'main'">
        main
    </div>
    <div id="player" v-else-if="panel == 'player'">
        <h1>
            Player
        </h1>
        <hr/>
        <input type=text v-model="player.name"/>
        <div>
            {{ player.name }}
        </div>
        <div v-if="player.game">
            In game: {{ player.game }}
        </div>
        <button v-on:click="player_submit()">Submit</button>
    </div>
    <div id="gamelist" v-else-if="panel == 'gamelist'">
        List of games:
        <ol>
            <li v-for="game in gamelist">
                <button v-on:click="joinGame(game)">
                    {{ game.id }}
                </button>
                ({{ game.players.length }} players)
            </li>
        </ol>
        <button v-on:click="create_game">New Game</button>
        <button v-on:click="refresh_gamelist">Refresh</button>
    </div>
    <div id="game" v-else-if="panel == 'game'">
        <h1>Game {{ active_game.id }}</h1>
        Stage: {{active_game.stage}}
        <div id="game-settings" v-if="show_game_settings">
            <input type="number" v-model="game_settings_maxPlayers">
            <input type="number" v-model="game_settings_impostors">
            <input type="text" v-model="game_settings_rounds">
            <button v-on:click="update_game_settings">Update</button>
        </div>
        <div>
            <ol>
            <li v-for="p in active_game.players">
                <span v-bind:class="player_classes(p)">{{ p.name }}</span>
                <span v-if="p.id == active_game.admin">admin</span>
            </li>
        </ol>
        </div>
        <button v-on:click="leave_active_game">Leave</button>
        <button v-on:click="update_active_game">Refresh</button>
<!--        <button v-on:click="start_active_game" v-bind:disabled="!active_game.can_start_game">Start game</button>-->
        <button v-on:click="start_active_game" v-bind:disabled="!active_game_can_start_game">Start game</button>
    </div>
    <div id="other" v-else-if="console.log(this) && true">
        other
    </div>

</div>

<script src="/static/script.js"></script>

</body>
</html>