.me {
    font-weight: bold;
}
.admin {
    text-decoration: underline;
}
.impostor {
    color: red;
}
.avatar{
    width: 64px;
    height: 64px;
    display: inline-block;
}
.avatar img{
    max-width: 100%;
    max-height: auto;
}
.player-row {

}